{% extends 'base.html.twig' %}

{% block title %}Hello FilesController!{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_end(form)}}

    {% for file in listFiles %}

        <a href="{{ path('download_file', { 'filePath': file.upload_path }) }}">{{ file.filename }}</a> <br>

    {% endfor %}

{% endblock %}
